[user]
	email = jacob.cunningham@live.com
	name = Jacob Cunningham

[alias]
  stage = "add -A"
  c = commit
  cm = commit -m
  s = status -sb
  l = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  nah = !"bash -c 'git reset --hard && git clean -df'"
  master = checkout master
  nuke = clean -xdf
  hash = log -1 --pretty=%h